@import 'tailwindcss';


:root {
  /* radius */
  --app-radius: 12px;

  /* control sizes */
  --app-control-h: 60px;
  --app-control-pl: 24px;

  /* palette */
  --app-red: #b21f29;
  --app-red-2: #ffCDD1;

  --app-orange: #fe572f;
  --app-orange-bg: #ffefeb;

  --app-green: #1d987c;

  --app-gray: #d9d9d9;
  --app-gray-2: #a0a0a0;
  --app-gray-bg: #e6e6e6;
  --app-gray-bg-2: #f4f4f4;
  --app-gray-bg-3: #ebebeb;
}

html {
  font-family: 'Anuphan', sans-serif;
  font-size: 16px;
}

footer {
  font-family: 'Prompt', sans-serif;
}

div {
  border-radius: 12px;
}


.app-orange {
  border-color: var(--app-orange);
  color: var(--app-orange);
  background-color: var(--app-orange-bg);
}

.app-red {
  border-color: var(--app-red);
  color: var(--app-red);
  background-color: var(--app-red-2);
}

.app-gray {
  border-color: var(--app-gray);
  color: #000;
  background-color: #fff;
}

.app-select {
  border-width: 1px;
  border-style: solid;
  border-color: var(--app-gray);
  border-radius: var(--app-radius);

  height: var(--app-control-h);
  width: 100%;
  min-width: 0;

  padding-left: var(--app-control-pl);
  padding-right: 44px;
  /* space for arrow */

  -webkit-appearance: none;
  appearance: none;

  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5 7.5l5 5 5-5' stroke='%23666' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.app-input {
  border-width: 1px;
  border-style: solid;
  border-color: var(--app-gray);
  border-radius: var(--app-radius);

  height: var(--app-control-h);
  width: 100%;
  min-width: 0;

  padding-left: var(--app-control-pl);
}

.app-input::placeholder {
  color: #000000;
  opacity: 1;
}


.app-button {
  border-radius: var(--app-radius);
  height: var(--app-control-h);
  max-height: var(--app-control-h);

  flex: 0 1 160px;
  width: 160px;
  max-width: 160px;
  min-width: 120px;
}



.app-button-fit {
  flex: 0 0 auto;
  width: max-content;
  max-width: none;
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  border-width: 1px;
  max-height: 60px;
  height: 60px;
}

.text-16 {
  font-size: 1em;
}

.text-18 {
  font-size: 1.125em;
}

.text-32 {
  font-size: 2em;
}

.app-text-red {
  color: #b21f29;
}

.app-text-red-2 {
  color: #FFCDD1;
}

.app-bg-yellow {
  background-color: #f5af2d;
}

.app-bg-red {
  background-color: #b21f29;
}

.app-bg-red-2 {
  background-color: #FFCDD1;
}

.app-bg-green {
  background-color: #1d987c;
}

.app-bg-gray {
  background-color: #e6e6e6;
}

.app-bg-gray-2 {
  background-color: #f4f4f4;
}

.app-bg-gray-3 {
  background-color: #EBEBEB;
}

.app-border-gray {
  border-color: #d9d9d9;
}

.app-border-gray-2 {
  border-color: #A0A0A0;
}

.app-border-red {
  border-color: #B21F29;

}

.app-border-orange {
  border-color: #FE572F;
}

.app-text-orange {
  color: #FE572F;
}

.app-bg-orange {
  background-color: #FFEFEB
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prompt';
  src: url('./assets/fonts/prompt/Prompt-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}



/* .app-select {
  border-width: 1px;
  border-radius: 12px;
  height: 60px;
  max-height: 60px;
  width: 100%;
  flex: 1 1 auto;
  min-width: 0;
  padding-left: 24px;

  -webkit-appearance: none;
  appearance: none;

  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5 7.5l5 5 5-5' stroke='%23666' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.app-input {
  border-width: 1px;
  border-radius: 12px;
  height: 60px;
  max-height: 60px;
  width: 100%;
  flex: 1 1 auto;
  min-width: 0;
  padding-left: 24px;
}

.app-button {
  border-radius: 12px;
  height: 60px;
  max-height: 60px;
  flex: 0 1 160px;
  width: 160px;
  max-width: 160px;
  min-width: 120px;
} */