@import 'tailwindcss';

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/anuphan/Anuphan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Anuphan';
}

@theme {
  --color-app-bg: #ffffff;
  --color-app-text: #000000;
}

:root[data-theme='yellow-black'] {
  --color-app-bg: #000000;
  --color-app-text: #ffd500;
}

:root[data-theme='black-yellow'] {
  --color-app-bg: #ffd500;
  --color-app-text: #000000;
}

:root[data-theme='black-white'] {
  --color-app-bg: #ffffff;
  --color-app-text: #000000;
}

:root[data-theme='white-black'] {
  --color-app-bg: #000000;
  --color-app-text: #ffffff;
}

:root[data-theme='white-red'] {
  --color-app-bg: #a50f19;
  --color-app-text: #ffffff;
}

:root[data-theme='red-white'] {
  --color-app-bg: #ffffff;
  --color-app-text: #a50f19;
}

.border-separator-gray {
  border-color: #d9d9d9;
}

.text-custom-red {
  color: #b21f29;
}

.custom-gray-bg {
  background-color: #fafafa;
}

.custom-red-bg {
  background-color: #b21f29;
}
